/***** Page Fonts and Header *********************************************************************************************************************************************************************/
header
{
  font-family: 'Shrikhand', cursive;
  box-shadow: 3px 3px 5px grey;
  padding: 1px;
  background-color: white;
  position: relative;
}

html, body, main
{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

/***** Paris, Belleville *************************************************************************************************************************************************************************/
.locationlogo
{
  padding-right: 20px;
}

.backgroundcolorparisbelleville
{
  background-color: #eaeaea;
}

.parisbellevillelocationlogocolor
{
  color: #353535;
}

/***** Titles ************************************************************************************************************************************************************************************/
.titles
{
  text-align: center;
  margin-top: 50px;
  background-color: #f6f6f6;
  padding: 3%;
  padding-top: 30px;
  margin: auto;
}

.explorerbutton
{
  border: 0;
  font-size: 15px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  height: 50px;
  width: 200px;
  color: white;
  font-family: 'Roboto', sans-serif;
  cursor: grab;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}

.explorerbutton:hover
{
  opacity: 0.8;
  transition: 0.6s;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.90);
}

/***** Fonctionnement ****************************************************************************************************************************************************************************/
.titlefonctionnement
{
margin: 0;
}

.containerfonctionnement 
{
  padding: 25px 0;
  width: 100%;
  background: white;
}

.containerfonctionnementchild 
{
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.containerfonctionnementchild1 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerfonctionnementbuttons
{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.fonctionnmenticons
{
  color: #7e7e7e;
  margin-left: 20px;
  margin-right: 10px;
}

.circlenumber {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 50%;
  margin-left: -15px;
}

.textfonctionnement 
{
  height: 50px;
  padding-left: 20px;
  padding-right: 100px;
  border-radius: 0 25px 25px 0;
}

.containerfonctionnementbuttons
{
  display: flex;
  justify-content: center;
  align-content: center;
}

.fonctionnmentbuttons {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  cursor: grab;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.fonctionnmentbuttons:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: white;
}


/***** MENU **************************************************************************************************************************************************************************************/
.menucontainer
{
  background-color: #f6f6f6;
  background-size: cover;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.card
{
  width: 30%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}

.sizephotocard
{
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  margin-bottom: 10px;
}

.deleteunderline
{
  text-decoration: none;
  color: black;
}

.textmenu
{
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  width: 95%;
  margin-bottom: -5px;
}

.textcity
{
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  width: 95%;
  margin-top: 8px;
  padding-bottom: 1%;
}

.textrestaurant
{
  padding-left: 19%;
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}

.row1 
{
  display: flex;
  justify-content: center;
  gap: 25px;
}

.row2 
{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.containertexmenu
{
  width: 90%;
}

/***** Footer ************************************************************************************************************************************************************************************/
.footer
{
  padding-top: 25px;
  width: 100%;
  padding-bottom: 1%;
  background: #353535;
}

.containerfooter
{
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.logofooter
{
  padding-left: 20px;
}

.footerdeleteunderline
{
  text-decoration: none;
}

.footernav 
{
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  cursor: grab;
}

.footertext 
{
  height: 50px;
  padding-left: 20px;
  padding-right: 100px;
  text-decoration: none;
}

.footertextcolor
{
  color: white;
}

.borderlinebottom 
{
  border-bottom: 1px solid transparent;
}

.borderlinebottom:hover 
{
  border-bottom: 1px solid white;
  cursor: grab;
}

.containerfonctionnementchild2 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/***** FLEX BOX **********************************************************************************************************************************************************************************/
.flexCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

/***** Responsive ********************************************************************************************************************************************************************************/

@media screen and (min-width: 800px) {

  .fonctionnmentbuttons {
    width: 100%;
  }

  .footernav {
    width: 100%;
  }

  .containerfonctionnementchild1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .containerfonctionnementchild2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (max-width:768px)
{

  .row1
  {
    flex-direction: column;
    margin-bottom: 0;
  }

  .row2
  {
    flex-direction: column;
    margin-top: 13px;
  }

  .card
  {
    width: 100%;
    margin-bottom: 20px;
  }

  .textrestaurant
  {
  padding-left: 0.1%;
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  }
}