/***** Page Fonts and Header *********************************************************************************************************************************************************************/
header
{
  font-family: 'Shrikhand', cursive;
  box-shadow: 0px 0.2px 5px black;
  padding: 1px;
  background-color: white;
  position: relative;
}

html, body, main
{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h2
{
  font-family: "Shrikhand", "cursive";
}

/***** Commander Button **************************************************************************************************************************************************************************/
.buttoncontainer
{
  background-color: #f6f6f6;
  position: relative;
  max-width: 1370px;
  margin: auto;
  text-align: center;
  height: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.buttoncommander
{
  border: 0;
  font-size: 15px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  height: 50px;
  width: 200px;
  color: white;
  font-family: 'Roboto', sans-serif;
  cursor: grab;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}

.buttoncommander:hover
{
  opacity: 0.8;
  transition: 0.6s;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.90);
}


/***** Heart *************************************************************************************************************************************************************************************/
.heartcontainer
{
  position: relative;
}

.heart
{
  font-size: 2rem;
  right: 5rem;
  position: absolute;
  top: -3.5rem;
  right: 2rem;
}

.heart:hover
{
  opacity: 0;
}

.heart1
{
  font-size: 2rem;
  right: 5rem;
  position: absolute;
  top: -3.5rem;
  right: 2rem;
  transition: 500ms ease-in-out;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: grab;
}

.heart1:hover
{
  opacity: 1;
}

/***** Header ************************************************************************************************************************************************************************************/
.banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: -56px;
}

.arrow
{
  left: 0;
  bottom:2rem;
  position: absolute;
  margin-left: 1rem;
  font-size: 1.4rem;
  color: black;
}

.deleteunderline
{
  text-decoration: none;
  color: black;
}

/***** Menu **************************************************************************************************************************************************************************************/
.subtitle
{
  margin-bottom: 25px;
  border-bottom: 2px solid #99E2D0;
  display: block;
  max-width: 40px;
  
}

.menucontainer
{
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  position: relative;
  height: auto;
  max-width: 1370px;
  margin: auto;
}

.textrestaurant
{
  padding-left: 5%;
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}

.menugrid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
  padding-left: 65px;
  padding-right: 30px;
  user-select: none;
}

.foodbox
{
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: #35353547 1px 2px 5px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  height: 80px;
}

.textmenu 
{
  flex: auto;
  padding-left: 1rem;
  font-size: 14px;
}

.textsub
{
  margin-top: -11px;
}

.containerlogocheck 
{
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  margin-right: -4rem;
  transition-duration: 0.5s;
  color: #99E2D0;
  margin-left: 10px;
}

.logocheck
{
  margin-left: 3px;
  margin-top: 5px;
}

.rounded
{
  border-radius: 50% 50% 50% 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  color: #99E2D0;
}

.price 
{
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  padding: 0.7rem;
}

.foodbox:hover .containerlogocheck {
  margin: 0;
}
.foodbox:hover .containerlogocheck .logocheck {
  animation: check 0.5s;
}

@keyframes check {
  from {
    transform: rotate(-290deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.fadeaway1 {
  animation: show 0.3s 0.3s backwards;
}

.fadeaway2 {
  animation: show 0.3s 0.4s backwards;
}

.fadeaway3 {
  animation: show 0.3s 0.5s backwards;
}

.fadeaway4 {
  animation: show 0.3s 0.6s backwards;
}

.fadeaway5 {
  animation: show 0.3s 0.7s backwards;
}

.fadeaway6 {
  animation: show 0.3s 0.8s backwards;
}

.fadeaway7 {
  animation: show 0.3s 0.9s backwards;
}

.fadeaway8 {
  animation: show 0.3s 1s backwards;
}

.fadeaway9 {
  animation: show 0.3s 1.1s backwards;
}

.fadeaway10 {
  animation: show 0.3s 1.2s backwards;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/***** Footer ************************************************************************************************************************************************************************************/
.footer
{
  padding-top: 25px;
  width: 100%;
  padding-bottom: 2%;
  background: #353535;
}

.containerfooter
{
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerfooterchild 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logofooter
{
  padding-left: 20px;
}

.footerdeleteunderline
{
  text-decoration: none;
}

.footernav 
{
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  cursor: grab;
  text-decoration: none;
}

.footermargin
{
  margin-top: -1.5rem;
}

.marginleft
{
  margin-left: -11px;
}

.footertext 
{
  height: 50px;
  padding-left: 20px;
  padding-right: 100px;
  text-decoration: none;
}

.footertextcolor
{
  color: white;
}

.borderlinebottom 
{
  border-bottom: 1px solid transparent;
}

.borderlinebottom:hover 
{
  border-bottom: 1px solid white;
  cursor: grab;
}

.fonctionnmenticons
{
  color: #7e7e7e;
  margin-left: 20px;
  margin-right: 10px;
}

/***** Responsive ********************************************************************************************************************************************************************************/

@media screen and (min-width: 800px) 
{
  .footernav
  {
    width: 100%;
  }
  
  .containerfooterchild
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (max-width: 1156px) 
{
  .menugrid
  {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -1rem;
    margin-top: 3rem;
  }

  .textmenu 
  {
  padding-top: -1rem;
  }
}

@media screen and (max-width: 830px) 
{
  .menugrid 
  {
    margin-left: -1.5rem;
  }
}

@media screen and (max-width: 562px) 
{
  .menugrid 
  {
    margin-left: -2.7rem;
  }
}

@media screen and (max-width: 414px) 
{
  .menugrid 
  {
    margin-left: -2.8rem;
  }
}

/***** FLEX BOX **********************************************************************************************************************************************************************************/
.flexCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}