/***** Page Fonts and Header *********************************************************************************************************************************************************************/
header
{
  font-family: 'Shrikhand', cursive;
  box-shadow: 0px 0.2px 5px black;
  padding: 1px;
  background-color: white;
  position: relative;
}

html, body, main
{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h2
{
  font-family: "Shrikhand", "cursive";
}

/***** Commander Button **************************************************************************************************************************************************************************/
.buttoncontainer
{
  background-color: #f6f6f6;
  position: relative;
  max-width: 1370px;
  margin: auto;
  text-align: center;
  height: 10vh;
}

.buttoncommander
{
  border: 0;
  font-size: 15px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  height: 50px;
  width: 200px;
  color: white;
  font-family: 'Roboto', sans-serif;
  cursor: grab;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}

.buttoncommander:hover
{
  opacity: 0.8;
  transition: 0.6s;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.90);
}


/***** Heart *************************************************************************************************************************************************************************************/
.heartcontainer
{
  position: relative;
}

.heart
{
  font-size: 2rem;
  right: 5rem;
  position: absolute;
  top: -3.5rem;
  right: 2rem;
}

.heart:hover
{
  opacity: 0;
}

.heart1
{
  font-size: 2rem;
  right: 5rem;
  position: absolute;
  top: -3.5rem;
  right: 2rem;
  transition: 500ms ease-in-out;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: grab;
}

.heart1:hover
{
  opacity: 1;
}

/***** Header ************************************************************************************************************************************************************************************/
.banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: -56px;
}

.arrow
{
  left: 0;
  bottom:2rem;
  position: absolute;
  margin-left: 1rem;
  font-size: 1.4rem;
  color: black;
}

.deleteunderline
{
  text-decoration: none;
  color: black;
}

/***** Menu **************************************************************************************************************************************************************************************/

.menucontainer {
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  position: relative;
  height: 50vh;
  max-width: 1370px;
  margin: auto;
}

.menugrid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
  padding-left: 65px;
  padding-right: 30px;
  user-select: none;
}

.foodbox
{
  width: 90%;
  height: 28%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}

.textmenu
{
  font-size: 17px;
  width: 100%;
  margin-bottom: 1px;
  padding-top: 10px;
  padding-left: 20px
}

.textmenusub
{
  font-size: 17px;
  width: 100%;
  padding-left: 20px;
  font-size: 15px;
}

.textrestaurant
{
  padding-left: 5%;
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}

.price
{
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  padding-left: 20rem;
  margin-top: -1.2rem;
  transition: all 0.4s ease-in-out;
}

.price:hover
{
  transform: translateX(-50px);
}

.fadeaway1 {
  animation: show 0.3s 0.3s backwards;
}

.fadeaway2 {
  animation: show 0.3s 0.4s backwards;
}

.fadeaway3 {
  animation: show 0.3s 0.5s backwards;
}

.fadeaway4 {
  animation: show 0.3s 0.6s backwards;
}

.fadeaway5 {
  animation: show 0.3s 0.7s backwards;
}

.fadeaway6 {
  animation: show 0.3s 0.8s backwards;
}

.fadeaway7 {
  animation: show 0.3s 0.9s backwards;
}

.fadeaway8 {
  animation: show 0.3s 1s backwards;
}

.fadeaway9 {
  animation: show 0.3s 1.1s backwards;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/***** Footer ************************************************************************************************************************************************************************************/
.footer
{
  padding-top: 25px;
  width: 100%;
  padding-bottom: 1%;
  background: #353535;
}

.containerfooter
{
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.containerfooterchild 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logofooter
{
  padding-left: 20px;
}

.footerdeleteunderline
{
  text-decoration: none;
}

.footernav 
{
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  cursor: grab;
  text-decoration: none;
}

.footertext 
{
  height: 50px;
  padding-left: 20px;
  padding-right: 100px;
  text-decoration: none;
}

.footertextcolor
{
  color: white;
}

.borderlinebottom 
{
  border-bottom: 1px solid transparent;
}

.borderlinebottom:hover 
{
  border-bottom: 1px solid white;
  cursor: grab;
}

.fonctionnmenticons
{
  color: #7e7e7e;
  margin-left: 20px;
  margin-right: 10px;
}

/***** Responsive ********************************************************************************************************************************************************************************/

@media screen and (min-width: 800px) {

  .footernav
  {
    width: 100%;
  }
  
  .containerfooterchild
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}

/***** FLEX BOX **********************************************************************************************************************************************************************************/
.flexCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}